@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h2>About us & the app</h2>
    <h3>
        We are two computer science students who are eager to change the world with the help of the modern technology and programming.
        This application is a web mvc app whose main purpose is buying video games.
        Each user makes his/her own account & by signing in he/she can access the home page where the most popular, newest video games can be seen.
        Furthermore the user can buy video games.
        The shopping cart is visible always and represent a clear view of the gamer's bought games.
    </h3>
</div>

