@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron">
    @*<h2>@ViewBag.Title.</h2>*@
    @*<h3>@ViewBag.Message</h3>*@

    <address class="Contactphone">
        <h3>Contact numbers:</h3>
        <p>
            +389 70 249 787 <br />
            +389 78 323 276
        </p>
    </address>

    <address class="Contactmail">
        <strong>Support:</strong>   <a href="mailto:kiril.kostov@students.finki.ukim.mk">kiril.kostov@students.finki.ukim.mk</a><br />
        <strong>Marketing:</strong> <a href="mailto:aleksandra.manolcheva@students.finki.ukim.mk">aleksandra.manolcheva@students.finki.ukim.mk</a>
    </address>
</div>